; vim: set fileencoding=utf-8 :
; Manuel Guenther <manuel.guenther@idiap.ch>
; Thu Sep  4 18:24:14 CEST 2014

[buildout]
parts = scripts
eggs = bob.db.cuhk_cufs
extensions = bob.buildout
             mr.developer
auto-checkout = *
develop = src/bob.buildout
          src/bob.blitz
          src/bob.core
          src/bob.io.base
          src/bob.db.base
          src/bob.db.arface
          src/bob.db.xm2vts
          .

; options for bob.buildout extension
debug = true
verbose = true
newest = false

[sources]
bob.buildout  = git https://gitlab.idiap.ch/bob/bob.buildout
bob.blitz = git https://gitlab.idiap.ch/bob/bob.blitz
bob.core = git https://gitlab.idiap.ch/bob/bob.core
bob.io.base = git https://gitlab.idiap.ch/bob/bob.io.base
bob.db.base = git https://gitlab.idiap.ch/bob/bob.db.base
bob.db.arface = git https://gitlab.idiap.ch/bob/bob.db.arface
bob.db.xm2vts = git https://gitlab.idiap.ch/bob/bob.db.xm2vts

[scripts]
recipe = bob.buildout:scripts
dependent-scripts=true
